/* index.css */

/* Globale Einstellungen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Container für die gesamte Anwendung */
.logged-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Höhe des Viewports */
  padding: 20px;
  background-color: #f4f4f4;
}

/* Authentifizierungscontainer */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Höhe des Viewports */
  background-color: #f4f4f4;
}

/* Container für die Filmübersicht */
.movies-container {
  width: 100%;
  max-width: 800px; /* Maximalbreite der Tabelle */
  margin-bottom: 20px;
}

.movies-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* Zentriert die Tabelle */
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

.movie-row:hover {
  background-color: #f1f1f1;
}

/* Container für das Formular zum Hinzufügen eines Films */
.add-movie-container {
  width: 100%;
  max-width: 400px; /* Maximalbreite des Formulars */
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-movie-container input,
.add-movie-container textarea,
.add-movie-container button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-movie-container button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.add-movie-container button:hover {
  background-color: #0056b3;
}

/* Logout-Button */
.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d83c3c;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content button {
  margin-top: 10px;
}

.modal-content input {
  margin-bottom: 10px;
}









.rating-button {
  padding: 5px 10px; /* Größerer Button */
  background-color: #0056b3; /* Blaue Hintergrundfarbe */
  color: white; /* Weiße Schrift */
  border: none; /* Kein Rand */
  border-radius: 5px; /* Abgerundete Ecken */
  cursor: pointer; /* Zeiger-Cursor beim Hover */
  font-size: 16px; /* Größere Schrift */
}

.rating-button:hover {
  background-color: darkblue; /* Dunkleres Blau beim Hover */
}
